.App {
  text-align: center;
  
}
 *{
  background-color: #212529;
 }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navigation{
  background-color: #111418;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 350px;
  padding-left: 16px;
  padding-right: 16px;
  height: 100vh;
}
.container{
  background-color: #111418;
  width: 90%;
  min-height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.pic_world{
  
  display: flex;
  padding: 8px;
  border-radius: 50rem;
  margin-bottom: 9px;
}

.img_styles{
  width: 100%;
  border-radius: 50rem;
}
.width_btn{
  width: 100%;
}

.img_world{
  background-color: #111418;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.form_styles{
  justify-content: center;
  background-color: #111418;
  color: white;
}

.title_styles{
  color: white;
  background-color: #111418;
  text-align: center;
  margin-top: 50px;
}
.display_flex{
  display: flex;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.capital_info{
  color: white; 
  justify-content: center;
  align-items: center;
  
}

.Search_capital_btn{
  color: #20c997;
  border-radius: 30px;
  padding: 0.5rem 2.2rem;
  transition: all 0.5s ease;
  border: 1px solid #20c997;
  border-width: 2px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
}

.Search_inputText{
  text-align: center;
  color: rgb(255, 228, 228);
  border-radius: 5px;
  padding: 0.4rem 1rem;
  transition: all 0.5s ease;
  border: 1px solid #aab1b8;
  border-width: 2px;
  font-size: 15px;
  font-weight: 400;
  background-color: #212529;
}


.info_container{
  width: 100%;
  height: 100vh;
  margin: auto;
  align-items: center;
}

.col-6{
  width: 50%;
}

.home_container{
  width: 80%;
  margin: auto;
  align-items: center;
  height: 100vh;
}

.title_weatherApp_styles{
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px  #20c997;
  font-size: calc(2.5rem + 3.3vw);
  font-weight: bold;
}

.paragraph_styles{
  color:#6c757d;
  font-size: 20px;
  text-align: center;
  margin-bottom: 130px;
  width: 100%;
}
.bkg_link{
  background-color: #111418;
  margin-top: 30px;
}

.loader {
  border: 8px solid   #20c997; /* Light grey */
  border-top: 8px solid  #212529; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-top: calc(40vh);
  margin-left: 35vw;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.city_features{
  font-size: 0.9rem;
  text-align: center;
  width: 100%;
  color: #20c997;
}

.City_name{
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: white;
  font-style: italic;
  -webkit-text-stroke: 1px  #20c997;
  margin-top: 0px;
}

.col-4{
  width: 33%;
}

.col-12{
  width: 100%;
}

.Home_btn{
  color: #20c997;
  border-radius: 30px;
  padding: 0.5rem 2.2rem;
  transition: all 0.5s ease;
  border: 1px solid #20c997;
  border-width: 2px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
  position: relative;
  left: 35vw;
}
@media (min-width: 768px){
  .col-md-6{
    width: 50%;
  }
  .city-lg-features{
    font-size: 18px;
  }
  .font-lg-size{
    font-size: 3rem;
  }
  .position_lg_btn{
    left: 45vw;
  }
  .md-screen{
    display: flex;
  }
  .md-width{
    width: calc(100vw - 350px);
    min-height: 100vh;
  }
  .notFound_md_screen{
    position: relative;
    left: 40%;
    top: 15vh;
  }
  
}

@media (min-width: 992px){
  .col-lg-4{
    width: 33%;
  }
  .font-lg-size{
    font-size: 5rem;
  }
  .city-lg-features{
    font-size: 1.5rem;
  }
  .position_lg_btn{
    left: 45vw;
  }
  .height-lg-screen{
    height: 100vh;
  }
  .notFound_lg_screen{
    position: relative;
    left: 80%;
    top: 15vh;
  }
 
}


.color{
  color:#6c757d;
}

.height{
  height: 100vh;
}

.home_width{
  width: 100%;
}

.container_Error{
  width: 31vw;
}
.btn_backtoHome{
  color: #20c997;
  border-radius: 30px;
  padding: 0.5rem 2.2rem;
  transition: all 0.5s ease;
  border: 1px solid #20c997;
  border-width: 2px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
  
}

.error_width{
  width:100vw;
}